# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.dotNetExam.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sagad\Huinya\dotNetExam\.idea\.idea.dotNetExam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
